
.mainContainer{
  padding-bottom: 70px;
}
h1 {
  font-size: 1.3rem;
  color: #424242;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}

.searchContainer {
  text-align: center;
  max-width: 500px;
  margin: 20px auto;
  margin-top: 50px!important;
}

.searchWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.searchInput {
  width: 100%;
  padding: 10px 30px; /* Added padding for the icon */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.searchIcon {
  position: absolute;
  left: 10px;
  font-size: 18px;
  color: #999;
}

.searchInput:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
